{% if page.is_post %}
  {% assign type = "BlogPosting" %}
{% else %}
  {% assign type = "Website" %}
{% endif %}
  <!-- http://schema.org/ -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ type }}",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "mainEntityOfPage": {
      "@type": "{{ type }}",
      "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    },
    "headline": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
    "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}",
  {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.update %}
    "dateModified": "{{ page.update | date_to_xmlschema }}",
  {% endif %}
  {% if page.image %}
    "image": {
      "@type": "ImageObject",
      "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.image.path }}",
      "width": {{ page.image.width }},
      "height": {{ page.image.height }}
  },
  {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.l }}",
        "width": 112,
        "height": 112
      }
    }
  }
  </script>