    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <div>
											<img src="{{ site.logo }}" alt="{{ site.logo-alt }}" title="{{ site.title }}" style="width:30px;height:30px;">
										{{ site.titlemenu }}
									</div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    {% for page in site.pages | sort: "title" %}
                    {% unless
											page.url == "/robots.txt" or 
											page.url == "/sitemap.xml" or 
											page.url == "/404.html"  or 
											page.url == "/index.html" or 
											page.url == "/" or 
											page.url == "/privacy-notice/index.html" or 
											page.url == "/credits/index.html" or 
											page.url == "/contact-confirmation/index.html" or
											page.url == "/portfolio/2002/production-exosphere/index.html" or
											page.url == "/portfolio/2002/aiesec-chicoutimi/index.html" or
											page.url == "/portfolio/2004/happening-marketing/index.html" or
											page.url == "/portfolio/2007/st-jean-au-lac/index.html" or
											page.url == "/portfolio/2011/saguenay-fringe-festival/index.html" or
											page.url == "/portfolio/2012/montreal-military-culture-festival/index.html"
										%}
                    <li>
											  <!-- {{ page.url }} -->
                        <a class="page-scroll" href="{{site.url}}/#{{ page.title }}" target= "_self" >{{ page.title }}</a>
                    </li>
                    {% endunless %}
                    {% endfor %}
										<li>
											<a href="https://www.linkedin.com/in/sylvaind/">LinkedIn</a>
										</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
