    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.url}}">
                    <i><img src="/img/sylvain-deschenes-rubik-logo.png" alt="sylvain deschenes | agile scrum kanban lean" alt="sylvain deschenes agile scrum kanban lean project" title="Sylvain Deschenes | Agile Scrum Kanban Lean" style="width:30px;height:30px;"></i> {{ site.titlemenu }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    {% for page in site.pages | sort: "title" %}
                    {% unless page.url == "/assets/css/style.css" or page.url == "/robots.txt" or page.url == "/sitemap.xml" or page.url == "/404.html"  or page.url == "/index.html" or page.url == "/" or page.url == "/privacy-policy/index.html" or page.url == "/credits/index.html" or page.url == "/contact-confirmation/index.html" %}
                    <li>
											  <!-- {{ page.url }} -->
                        <a class="page-scroll" href="{{site.url}}/#{{ page.title }}" target= "_self" >{{ page.title }}</a>
                    </li>
                    {% endunless %}
                    {% endfor %}
										<li>
											<a href="https://www.linkedin.com/in/sylvaind/">LinkedIn</a>
										</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
