---
layout: compress
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	{% include header.html %}

  {% for page in site.pages %}
    {% if page.section-type == "default" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}
              </div>
          </div>
      </section>
    {% elsif page.section-type == "contact" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}
                <ul class="list-inline social-buttons">
                    {% for network in page.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
										<br/>
										<br/>
                    {% endfor %}
                </ul>
								{% if site.contact-form-handler %}
								  {% if page.form %}
										{% include form.html %}
										<br/>
									{% endif %}
                {% elsif site.email %}
                <p><a href="mailto:{{ page.email }}">{{ site.email }}</a></p>
                {% endif %}
                {% if site.address and site.address-map-url %}
								<br/>
                <p><a href="{{ site.address-map-url }}">{{ site.address }}</a></p>
								{% elsif site.address %}
                <p>{{ site.address }}</p>
                {% endif %}
              </div>
          </div>
      </section>
    {% elsif page.section-type == "timeline" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}
                <ul class="timeline">
                {% for post in site.posts %}
                  {% assign loopindex = forloop.index | modulo: 2 %}
                  {% capture class %}
                    {% if loopindex == 0 %}
                      timeline-inverted
                    {% endif %}
                  {% endcapture %}

                  <li class="{{ class }}">
                      <div class="timeline-image">
                          {% if post.image-link %} <a href="{{ post.image-link }}" ><img class="img-circle img-responsive" src="{{ site.url }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="{{ post.image-alt }}" title="{{ post.image-title }}" width="200" height="200"></a>
													{% else %}
													<img class="img-circle img-responsive" src="{{ site.url }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="{{ post.image-alt }}" title="{{ post.image-title }}" width="200" height="200">
													{% endif %}
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>{{ post.title }}</h4>
															{% if post.subtitle %}
                              <h5 class="subheading">{{ post.subtitle }}</h5>
															{% endif %}
                          </div>
													{% if post.content %}
                          <div class="timeline-body">
                              <p class="text-muted">{{ post.content }}
                          </div>
													{% endif %}
                      </div>
                  </li>

                {% endfor %}

                  <li class="timeline-inverted">
                    <div class="timeline-image">
											<img class="img-circle img-responsive" src="{{ site.url }}/{{ site.begenning-career-img }}" alt="sylvain deschenes photo" title="Sylvain Deschenes" width="200" height="200">
                    </div>
                  </li>
   
                </ul>

              </div>
          </div>
      </section>
    {% endif %}
  {% endfor %}
	
	{% include navigation.html %}

	{% include timeline-css.html %}
	
	{% include fonts-css.html %}

	{% include footer.html %}
	{% include js.html %}
	
	<!-- Include New window fix from JekyllCodex.org -->
	{% include new-window-fix.html %}
	
	<!-- Include Lightbox from JekyllCodex.org -->
	{% include lightbox.html %}
	
	<!-- Include Better-Forms from JekyllCodex.org -->
	{% include better-forms.html %}
	
	<!-- Include Cookie Consent Banner from JekyllCodex.org -->
	{% include cookie-consent.html %}
	
	<!-- Include Google Structured Data for SEO -->
	{% include google-structured-data.html %}

</body>
</html>